@{
    ViewBag.Title = "News";
}
<h2>@ViewBag.Title.</h2>


<p>Stay up to date in technological advancements Go to these websites to stay up to date.</p>

<strong>Official Site:</strong> <a href="http://www.sacla.org.za/">SANCLA Official Website</a><br>
